#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    margin-bottom: 20px;
}

a{
    text-decoration: none;

}


table,th,td{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}
